@{
    ViewData["Title"] = "My projects...";
}
<h1>@ViewData["Title"]</h1>

@model List<AboutMe.Models.Project>

<div class="card-deck">
    п
    @foreach (var project in Model)
    {
        <div class="card">
            <img class="card-img-top" src="@project.ImageData" alt="@project.ImageTitle">
            <div class="card-body">
                <h5 class="card-title">@project.Title</h5>
                <p class="card-github">
                    <a href="@project.SourceLink">Source code</a>
                </p>
                <p class="card-desc">@project.Content</p>
                <p class="card-text"><small class="text-muted">Last updated @project.CreatedDate mins ago</small></p>
            </div>
        </div>
    }
</div>